<header>
    <div class="header-title">
        <p>じゃんけんキング</p>
    </div>
    <p>
        
    </p>
    <div class="header-link">
        <% if(locals.userName === "Guest"){ %>
            <a href="/login">ログイン</a>
        <% } else { %>
            <a href="/logout">ログアウト</a>         
        <% } %> 
        <a href="/ranking">ランキング</a>
    </div>

    <div class="header-uname">
        <% if(locals.userName === "Guest"){ %>
            <p><%= locals.userName %></p>
        <% } else { %>
            <p><%= locals.userName %></p>  
            <p><%= locals.point %> pt</p>         
        <% } %>         
    </div>
</header>