<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>JankenKing</title>
  </head>
  <div class="center">
    <h1 class="top-page-title">じゃんけん<br>キング</h1>
    <div>
      <a href="/login" class="link-bg-color link-text-color top-page-link top-page-link-l">ログイン</a>
    </div>
    <div>
      <a href="/play" class="link-bg-color link-text-color top-page-link top-page-link-s">ログインせずに遊ぶ</a>
    </div>
  </div>
</html>