<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>JankenKing</title>
  </head>
  <%- include('header.ejs'); %>
  <div class="center">
    <h1 class="jankeen-msg">じゃんけーん</h1>
    <div>
      <a href="/hand/<%= 'gu' %>" class="link-select-hand link-gu">ぐー</a>
      <a href="/hand/<%= 'choki' %>" class="link-select-hand link-choki">ちょき</a>
      <a href="/hand/<%= 'pa' %>" class="link-select-hand link-pa">ぱー</a>
    </div>
  </div>
</html>