<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>JankenKing</title>
  </head>
  <%- include('header.ejs'); %>
  <div class="center">
    <h1 class="jankeen-msg">Ranking</h1>
    <table class="ranking-table">
      <% var ranking = 1; %>
      <% results.forEach(result =>{ %> 
        <tr>
          <td class="table-width-small"><%= ranking %>位</td>
          <td class="table-width-large"><%= result.name %></td>
          <td class="table-width-large"><%= result.point %>  pt</td>
        </tr>
        <% ranking += 1; %>  
      <% }); %>
    </table>
    <div class="link-action-select">
      <a href="/play">もう一度 遊ぶ</a>
    </div>
  </div>
</html>