<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>JankenKing</title>
  </head>
  <%- include('header.ejs'); %>
  <div class="center">
    <h1 class="jankeen-msg">ぽん！！</h1>
    <div>
      <p class="who-label">
        CPU:
      </p> 
      <% if(cpuHand === 0){ %>
        <p class="selected-hand link-gu">ぐー</p>
      <% } else if (cpuHand === 1){ %>
        <p class="selected-hand link-choki">ちょき</p>
      <% } else { %>
        <p class="selected-hand link-pa">ぱー</p>
      <% } %>
    </div>
    <div>
      <p class="who-label">
        YOU: 
      </p>
      <% if(userHand === 'gu'){ %>
        <p class="selected-hand link-gu">ぐー</p>
      <% } else if (userHand === 'choki'){ %>
        <p class="selected-hand link-choki">ちょき</p>
      <% } else { %>
        <p class="selected-hand link-pa">ぱー</p>
      <% } %>
    </div>
    <div class="judgement">
      <% if(judgeJanken === 'Win'){ %>
        <p>YOU WIN</p>
      <% }else if(judgeJanken === 'Lose'){ %>
        <p>YOU LOSE</p>       
      <% }else{ %>
        <p>DRAW</p>
      <% } %>
    </div>
    <div class="link-action-select">
      <a href="/play">もう一度 遊ぶ</a>
      <a href="/ranking">ランキングを見る</a>
    </div>
  </div>
</html>
