<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>JankenKing</title>
  </head>
  <%- include('header.ejs'); %>
  <div class="center">
    <form action="/login" method="post">
        <div>
            <p class="form-title">ユーザ名</p>
            <input type="text" name="uname" class="form-input">
        </div>
        <div>
            <p class="form-title">ログインID (メールアドレス)</p>
            <input type="text" name="email" class="form-input">
        </div>
        <div>
            <p class="form-title">パスワード</p>
            <input type="password" name="password" class="form-input">
        </div>
        <div>
            <input type="submit" value="サインアップ" class="link-bg-color link-text-color form-singup-submit">
        </div>
    </form>
  </div>
</html>