* {
    margin: 0;
    padding: 0;
  }

html{
    background-color: #eeeeeeff;
}

header{
    background-color: #9e9e9eff;
}

.center{
    text-align: center;
}

.top-page-title{
    font-size: 100px;
    margin-top: 100px
}

.link-bg-color{
    background-color: #ffc400ff;
}

.link-text-color{
    color: #0000ff;
}

.top-page-link{
    display: block;
    margin: 40px auto 40px auto;
    padding: 20px;
}

.top-page-link-l{
    width: 200px;
    height: auto;
    font-size: 40px;
}

.top-page-link-s{
    width: 200px;
    height: auto;
    font-size: 20px;
}

.form-input{
    border:0;
    padding:10px;
    font-size:1.3em;
    font-family:Arial, sans-serif;
    color:#aaa;
    border:solid 1px #ccc;
    margin:0 0 20px;
    width:300px;
}

.form-title{
    text-align: left; 
    font-size: 20px;
    width:320px;
    padding-top:10px;
    margin:10px auto;
}

.form-submit{
    font-size: 30px;
    text-decoration: underline;
    margin-top: 20px;
    padding: 10px;
    border: none;
}

.link-select-hand{
    font-size: 50px;
    display: inline-block;
    width: 300px;
    height: 100px;
    margin: 0 10px;
}

.link-gu{
    background-color: #283350;
    color: #FFB500;
}

.link-choki{
    background-color: #F93800;
    color: #283350;
}

.link-pa{
    background-color: #FFB500;
    color: #F93800;
}

.jankeen-msg{
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.selected-hand{
    font-size: 50px;
    display: block;
    width: 300px;
    height: 100px;
    margin: 0 auto 40px auto;
}

.who-label{
    width: 300px;
    font-size: 25px;
    text-align: left;
    margin: 0 auto 0 auto;
}

.judgement{
    width: 300px;
    font-size: 50px;
    margin: 0 auto 0 auto;
    color: #FFA781;
    background-color: #5B0E2D;
}

.link-action-select a{
    font-size: 20px;
    display: inline-block;
    width: 300px;
    height: 30px;
    margin: 10px 10px;
    color: #5B0E2D;
    background-color: #FFA781;
}

.ranking-table{
    margin:auto;
    border-collapse: collapse; 
}

.ranking-table td {
    border: solid 1px;
    height: 80px;
    text-align: left;
    font-size: 40px;
    padding-left: 10px;
    border-color: black;
}

.table-width-small{
    width: 100px;
    background-color: #ff9e00ff;
    color:white;
}

.table-width-large{
    width: 200px;
    background-color: #fce5cdff;
}

.header-title{
    float: left;
}

.header-title a{
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.header-link{
    float: right;
}

.header-link a{
    font-size: 30px;
    display: inline-block;
    margin-left:10px;
}

.header-uname{
    clear: both;
}

.header-uname p{
    display: inline-block;
}